{
	acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
	acme_dns porkbun {
		api_key {env.PORKBUN_API_KEY}
		api_secret_key {env.PORKBUN_API_SECRET_KEY}
	}

    trly.dev {
        respond "Hello, world!"
    }
}
