services:
  reverse-proxy:
    image: ghcr.io/trly/caddy:2.11
    restart: always
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:z
      - caddy-data:/data
      - caddy-config:/config
    ports:
      - target: 80
        published: 80
        mode: host
      - target: 443
        published: 443
        mode: host
    x-podman-env-secrets:
      porkbun-api-key: PORKBUN_API_KEY
      porkbun-api-secret-key: PORKBUN_API_SECRET_KEY
      acme-email: ACME_EMAIL

volumes:
  caddy-data:
  caddy-config:

secrets:
  porkbun-api-key:
    external: true
  porkbun-api-secret-key:
    external: true
  acme-email:
    external: true
